body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto';
	color: #000;
}

.container {
	margin: 0 auto;
	max-width: 1350px;
	padding-left: 24px;
	padding-right: 24px;
	width: 100%;

	@media (max-width: 1200px) {
		.container {
			width: 1140px;
			max-width: 100%;
		}
	}
	@media (max-width: 992px) {
		.container {
			width: 960px;
			max-width: 100%;
		}
	}
	@media (max-width: 768px) {
		.container {
			width: 720px;
			max-width: 100%;
		}
	}
	@media (max-width: 576px) {
		.container {
			width: 540px;
			max-width: 100%;
		}
	}
}
.title {
	text-align: center;
	font-size: 36px;
	line-height: 31px;
	color: #000;
	font-weight: 600;
	font-family: 'Hind';
}
.text-field {
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	color: #000;
	font-weight: 400;
}

@mixin place-elements-on-circle($num-elements, $circle-radius) {
	$angle: 360deg / $num-elements;

	@for $i from 1 through $num-elements {
		&:nth-child(#{$i}) {
			transform: rotate($angle * ($i - 1)) translate($circle-radius) rotate(-$angle * ($i - 1));
		}
	}
}
.main {
	margin-bottom: 120px;
}
.main__our-competitions {
	margin: 90px auto;
}
.circle-container {
	position: relative;
	width: 596px;
	height: 596px;
	border-radius: 298px;
	margin: 0px auto;
	background-image: url(../img/POZNAJ\ NASZE\ KOMPETENCJE.svg);
	background-position: center;
	background-repeat: no-repeat;

	.circle-item {
		position: absolute;
		display: flex;
		align-items: center;
		text-wrap: nowrap;
		gap: 15px;
		top: 272px;
		right: 272px;
		width: 50px;
		height: 50px;
		background-color: #fff;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		@include place-elements-on-circle(12, 300px);
		img {
			width: 80px;
			max-height: 80px;
			max-width: 100%;
			height: auto;
		}
		&:nth-child(4) {
			display: flex;
			flex-direction: column;
		}
		&:nth-child(10) {
			display: flex;
			flex-direction: column-reverse;
		}
		&:nth-child(9) {
			display: flex;
			flex-direction: row-reverse;
		}
		&:nth-child(8) {
			display: flex;
			flex-direction: row-reverse;
		}
		&:nth-child(7) {
			display: flex;
			flex-direction: row-reverse;
		}
		&:nth-child(6) {
			display: flex;
			flex-direction: row-reverse;
		}
		&:nth-child(5) {
			display: flex;
			flex-direction: row-reverse;
		}
	}
}
.contact-form {
	padding: 60px 90px;
	height: auto;
	max-width: 100%;
	width: 100%;
	background-image: url(../img/bgc.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&__boxes {
		margin: 0 auto;
		max-width: 915px;
		width: 100%;
	}
	button {
		margin-top: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 163px;
		max-width: 100%;
		height: 52px;
		font-size: 14px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
		background-color: #35a8e0;
		border: 1px solid #35a8e0;
		border-radius: 5px;
		cursor: pointer;
	}

	&__text-fields {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 15px;
		input,
		select {
			padding-left: 15px;
			max-width: 100%;
			height: 50px;
			font-family: 'Hind';
			font-size: 16px;
			line-height: 33px;
			font-weight: 600;
			color: #000;
			background-color: #ffffff;
			border: 1px solid #dbdbdb;
			border-radius: 5px;
			cursor: pointer;
		}
	}
	&__data {
		margin-bottom: 30px;
		color: #fff;
		a {
			color: #fff;
		}
	}
	&__checkbox {
		margin-top: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		input {
			cursor: pointer;
			border-radius: 5px;
		}
		p {
			color: #fff;
		}
		a {
			color: #2c69af;
		}
	}
	.form__field {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		textarea {
			margin-top: 15px;
			width: 951px;
			max-width: 100%;
			height: auto;
			font-size: 14px;
			line-height: 16px;
			font-weight: 400;
			text-align: left;
			color: #000;
			border-radius: 5px;
			background-color: #ffffff;
			border: 1px solid #dbdbdb;
		}
	}
	.contact-form__titile {
		color: #fff;
	}
}
