@charset "UTF-8";
body {
  font-family: "Roboto";
  color: #000;
}

/* Container */
.container {
  margin: 0 auto;
  max-width: 1350px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
}

@media (max-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
    padding-right: unset;
    padding-left: unset;
  }
}
@media (max-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}
/* Powtarzalne parametry dla h2 i p */
.title {
  text-align: center;
  font-size: 36px;
  line-height: 31px;
  color: #000;
  font-weight: 600;
  font-family: "Hind";
}

.text-field {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
}

/* Mixin do rozmieszczenia elementów na okręgu */
/*  Animacja */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Pierwsza sekcja na stronie */
.main {
  margin-bottom: 120px;
}
.main__our-competitions {
  margin: 90px auto;
  padding: 30px;
}
.main .circle-container {
  position: relative;
  width: 100%;
  max-width: 596px;
  height: 596px;
  border-radius: 298px;
  margin: 0px auto;
  background-image: url(../img/pzk.png);
  background-position: center;
  background-repeat: no-repeat;
}
.main .circle-container .circle-item {
  position: absolute;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  gap: 15px;
  top: 272px;
  right: 272px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.main .circle-container .circle-item:nth-child(1) {
  transform: rotate(0deg) translate(300px) rotate(0deg);
  animation: fadeInUp 0.8s ease-out 1s;
}
.main .circle-container .circle-item:nth-child(2) {
  transform: rotate(30deg) translate(300px) rotate(-30deg);
  animation: fadeInUp 0.8s ease-out 1s;
}
.main .circle-container .circle-item:nth-child(3) {
  transform: rotate(60deg) translate(300px) rotate(-60deg);
  animation: fadeInUp 0.8s ease-out 1s;
}
.main .circle-container .circle-item:nth-child(4) {
  transform: rotate(90deg) translate(300px) rotate(-90deg);
  animation: fadeInUp 0.8s ease-out 1s;
}
.main .circle-container .circle-item:nth-child(5) {
  transform: rotate(120deg) translate(300px) rotate(-120deg);
  animation: fadeInUp 0.8s ease-out 1s;
}
.main .circle-container .circle-item:nth-child(6) {
  transform: rotate(150deg) translate(300px) rotate(-150deg);
  animation: fadeInUp 0.8s ease-out 1s;
}
.main .circle-container .circle-item:nth-child(7) {
  transform: rotate(180deg) translate(300px) rotate(-180deg);
  animation: fadeInUp 0.8s ease-out 1s;
}
.main .circle-container .circle-item:nth-child(8) {
  transform: rotate(210deg) translate(300px) rotate(-210deg);
  animation: fadeInUp 0.8s ease-out 1s;
}
.main .circle-container .circle-item:nth-child(9) {
  transform: rotate(240deg) translate(300px) rotate(-240deg);
  animation: fadeInUp 0.8s ease-out 1s;
}
.main .circle-container .circle-item:nth-child(10) {
  transform: rotate(270deg) translate(300px) rotate(-270deg);
  animation: fadeInUp 0.8s ease-out 1s;
}
.main .circle-container .circle-item:nth-child(11) {
  transform: rotate(300deg) translate(300px) rotate(-300deg);
  animation: fadeInUp 0.8s ease-out 1s;
}
.main .circle-container .circle-item:nth-child(12) {
  transform: rotate(330deg) translate(300px) rotate(-330deg);
  animation: fadeInUp 0.8s ease-out 1s;
}
.main .circle-container .circle-item img {
  width: 80px;
  max-height: 80px;
  max-width: 100%;
  height: auto;
}
.main .circle-container .circle-item:nth-child(4) {
  display: flex;
  flex-direction: column;
}
.main .circle-container .circle-item:nth-child(10) {
  display: flex;
  flex-direction: column-reverse;
}
.main .circle-container .circle-item:nth-child(9) {
  display: flex;
  flex-direction: row-reverse;
}
.main .circle-container .circle-item:nth-child(8) {
  display: flex;
  flex-direction: row-reverse;
}
.main .circle-container .circle-item:nth-child(7) {
  display: flex;
  flex-direction: row-reverse;
}
.main .circle-container .circle-item:nth-child(6) {
  display: flex;
  flex-direction: row-reverse;
}
.main .circle-container .circle-item:nth-child(5) {
  display: flex;
  flex-direction: row-reverse;
}

/* Formularz */
.forms {
  height: auto;
  width: 100%;
  background-image: url(../img/bgc.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.forms .contact-form {
  display: flex;
  justify-content: center;
}
.forms .contact-form__boxes {
  padding: 15px;
  max-width: 915px;
  width: 100%;
}
.forms .contact-form button {
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 163px;
  max-width: 100%;
  height: 52px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #35a8e0;
  border: 1px solid #35a8e0;
  border-radius: 5px;
  cursor: pointer;
}
.forms .contact-form__text-fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.forms .contact-form__text-fields input,
.forms .contact-form__text-fields select {
  padding-left: 15px;
  max-width: 100%;
  height: 50px;
  font-family: "Hind";
  font-size: 16px;
  line-height: 33px;
  font-weight: 600;
  color: #000;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  cursor: pointer;
}
.forms .contact-form__data {
  margin-bottom: 30px;
  color: #fff;
}
.forms .contact-form__data a {
  color: #fff;
}
.forms .contact-form__checkbox {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.forms .contact-form__checkbox input {
  cursor: pointer;
  border-radius: 5px;
}
.forms .contact-form__checkbox p {
  color: #fff;
}
.forms .contact-form__checkbox a {
  color: #2c69af;
}
.forms .contact-form .form__field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.forms .contact-form .form__field textarea {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 15px;
  width: 100%;
  max-width: 100%;
  height: auto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  color: #000;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
}
.forms .contact-form .contact-form__titile {
  color: #fff;
}

/* RWD */
@media (max-width: 1200px) {
  .main__our-competitions {
    padding: 30px;
    margin: 0 auto;
  }
  .main .circle-container .circle-item {
    text-wrap: wrap;
  }
  .contact-form__text-fields {
    grid-template-columns: repeat(2, 1fr);
  }
  .main__text-field {
    margin-bottom: 90px;
  }
}
@media (max-width: 992px) {
  .main .circle-container {
    background-image: url(../img/pzk_mb.png);
    background-size: auto;
  }
  .main .circle-container .circle-item:nth-child(1) {
    transform: rotate(0deg) translate(180px) rotate(0deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(2) {
    transform: rotate(30deg) translate(180px) rotate(-30deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(3) {
    transform: rotate(60deg) translate(180px) rotate(-60deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(4) {
    transform: rotate(90deg) translate(180px) rotate(-90deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(5) {
    transform: rotate(120deg) translate(180px) rotate(-120deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(6) {
    transform: rotate(150deg) translate(180px) rotate(-150deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(7) {
    transform: rotate(180deg) translate(180px) rotate(-180deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(8) {
    transform: rotate(210deg) translate(180px) rotate(-210deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(9) {
    transform: rotate(240deg) translate(180px) rotate(-240deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(10) {
    transform: rotate(270deg) translate(180px) rotate(-270deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(11) {
    transform: rotate(300deg) translate(180px) rotate(-300deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(12) {
    transform: rotate(330deg) translate(180px) rotate(-330deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main__text-field,
  .main {
    margin-bottom: unset;
  }
  .contact-form__text-fields {
    padding: 0 15px;
  }
  .contact-form__text-fields .form__field textarea {
    margin: 0 15px 0;
    max-width: unset;
    width: 80%;
  }
  .contact-form__boxes {
    max-width: unset;
    margin: 0 30px;
  }
}
@media (max-width: 768px) {
  .main__our-competitions {
    padding: unset;
  }
  .main .circle-container .circle-item:nth-child(1) {
    transform: rotate(0deg) translate(150px) rotate(0deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(2) {
    transform: rotate(30deg) translate(150px) rotate(-30deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(3) {
    transform: rotate(60deg) translate(150px) rotate(-60deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(4) {
    transform: rotate(90deg) translate(150px) rotate(-90deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(5) {
    transform: rotate(120deg) translate(150px) rotate(-120deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(6) {
    transform: rotate(150deg) translate(150px) rotate(-150deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(7) {
    transform: rotate(180deg) translate(150px) rotate(-180deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(8) {
    transform: rotate(210deg) translate(150px) rotate(-210deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(9) {
    transform: rotate(240deg) translate(150px) rotate(-240deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(10) {
    transform: rotate(270deg) translate(150px) rotate(-270deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(11) {
    transform: rotate(300deg) translate(150px) rotate(-300deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(12) {
    transform: rotate(330deg) translate(150px) rotate(-330deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .forms .contact-form__text-fields {
    grid-template-columns: repeat(2, 1fr);
  }
  .forms .contact-form .form__field textarea {
    margin: 15px;
    width: 80%;
  }
}
@media (max-width: 576px) {
  .container {
    padding-left: unset;
    padding-right: unset;
  }
  .main .circle-container .circle-item {
    display: flex;
    right: 45%;
  }
  .main .circle-container .circle-item:nth-child(1) {
    transform: rotate(0deg) translate(160px) rotate(0deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(2) {
    transform: rotate(30deg) translate(160px) rotate(-30deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(3) {
    transform: rotate(60deg) translate(160px) rotate(-60deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(4) {
    transform: rotate(90deg) translate(160px) rotate(-90deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(5) {
    transform: rotate(120deg) translate(160px) rotate(-120deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(6) {
    transform: rotate(150deg) translate(160px) rotate(-150deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(7) {
    transform: rotate(180deg) translate(160px) rotate(-180deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(8) {
    transform: rotate(210deg) translate(160px) rotate(-210deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(9) {
    transform: rotate(240deg) translate(160px) rotate(-240deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(10) {
    transform: rotate(270deg) translate(160px) rotate(-270deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(11) {
    transform: rotate(300deg) translate(160px) rotate(-300deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item:nth-child(12) {
    transform: rotate(330deg) translate(160px) rotate(-330deg);
    animation: fadeInUp 0.8s ease-out 1s;
  }
  .main .circle-container .circle-item p {
    display: none;
  }
  .main .circle-container .circle-item img {
    width: 40px;
    max-height: 40px;
    max-width: 100%;
    height: auto;
  }
  .forms .contact-form__text-fields {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=main.css.map */